<div class="center jumbotoron">
  <%= provide(:title, "Home")%>
  <h1>Sample Appへようこそ💫</h1>
  <h2>これは、<a href="https://railstutorial.jp/">railsチュートリアル</a>を元に作成した練習用アプリケーションです‼️</h2>
  <%= link_to "sign up Now!", "#", class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("kitten.jpg", alt:'画像が表示されない場合のテキストです', width: '300'),"https://www.doubutukikin.or.jp/" %>
